<div class="homepage_content shipping_notice clearfix">
  <div class="container">
    <div class="sixteen columns">
      <div class="section">
        <div class="sixteen columns alpha">
          <h2>Free shipping on orders $40 or more!</h2>
        </div>  
      </div>
    </div>
  </div>
</div>