<div class="homepage_content shipping_notice clearfix">
  <div class="container">
    <div class="sixteen columns">
      <div class="section">
        <div class="sixteen columns alpha">
          <h2 class="promo-1 promo">Free shipping over $40! &nbsp;&nbsp;<small><a href="/pages/shipping-returns-and-ordering">Learn More &#187;</a></small></h2>
          <h2 class="promo-2 promo">Retailers: 30% off! &nbsp;&nbsp;<small><a href="/pages/retailers">Learn More &#187;</a></small></h2>
          <h2 class="promo-3 promo">The Country Shore Promise &nbsp;&nbsp;<small><a href="/pages/the-country-shore-promise">Learn More &#187;</a></small></h2>
          <h2 class="promo-4 promo">Last Chance Sale! &nbsp;&nbsp;<small><a href="/collections/on-sale-and-promotions">Shop Now &#187;</a></small></h2>
          <!-- <h2 class="promo-1 promo">Black Friday: Use Code "BF" for 40% off!</h2> -->
        </div>  
      </div>
    </div>
  </div>
</div>